body {
  margin: 0px;
  display: flex;
  min-height: 100vh;
}

.parent {
  flex: 1;
  flex-direction: column;
}

.header {
  background-color: #5470e1;
}
.footer {
  background-color: #0782fa;
}
.main {
  background-color: #f289fe;
  display: flex;
  justify-content: center;
}

.section {
  color: white;
  padding: 1em;
}

.diploma {
  border-radius: 20px;
  background: #fafafa;
  color: black;
  padding: 05em;
  margin: 01em 4em;
  flex: 1;
}

.responsive-col-to-row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .responsive-col-to-row {
    flex-direction: column;
  }

  .diploma {
    margin: 0.5em;
  }
} ;
